<form action="/redirect">
    <label for="option">Choose an option:</label>
    <select id="options" name="options">
      <option value="politics_posts_plot">Politics posts plot</option>
      <option value="pol_comments_plot">Politics Comments plot</option>
      <option value="youtube_plot">Youtube comments plot</option>
	    <option value="politics_toxicity_plot">Politics Toxicity Plot</option>
      <option value="youtube_per_video_plot">Youtube per video comments plot</option>
      <option value="youtube_per_channel_plot">Youtube per channel plot</option>
      <option value="youtube_category_plot">Youtube category plot</option>
      <option value="sentimental_plot">Sentimental plot</option>
	  <option value="sentimental_custom_plot">Customised Sentimental Analysis Plot</option>
    </select>
    <input type="submit">
</form>